apiVersion: apps/v1
kind: Deployment
metadata:
  name: qubool-kallyanam-notification
  namespace: qubool-kallyanam
  labels:
    app.kubernetes.io/name: qubool-kallyanam-notification
    app.kubernetes.io/part-of: qubool-kallyanam
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels: { app.kubernetes.io/name: qubool-kallyanam-notification }
  template:
    metadata:
      labels:
        app.kubernetes.io/name: qubool-kallyanam-notification
        app.kubernetes.io/part-of: qubool-kallyanam
    spec:
      serviceAccountName: ksa-workload
      terminationGracePeriodSeconds: 15
      containers:
        - name: qubool-kallyanam-notification
          image: ${REGION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/notification:${IMAGE_TAG}
          imagePullPolicy: Always
          envFrom:
            - configMapRef: { name: notification-config }
            - secretRef: { name: notification-secret }
          env:
            - name: SERVICE_NAME
              value: notification
            - name: NOTIFICATION_ENVIRONMENT
              valueFrom: { configMapKeyRef: { name: shared-config, key: ENVIRONMENT } }
            - name: NOTIFICATION_RABBITMQ_EXCHANGE_NAME
              valueFrom: { configMapKeyRef: { name: shared-config, key: RABBITMQ_EXCHANGE_NAME } }
            - name: NOTIFICATION_RABBITMQ_DSN
              valueFrom: { secretKeyRef: { name: common-secret, key: RABBITMQ_DSN } }
            - name: NOTIFICATION_PUBSUB_PROJECT_ID
              valueFrom: { configMapKeyRef: { name: shared-config, key: PUBSUB_PROJECT_ID } }
          resources:
            requests: { cpu: 25m, memory: 32Mi }
            limits: { cpu: 150m, memory: 64Mi }